/*

Craig A. Schultz
19 May 2013
Week 3
MiU 1305
WoW Battle Pet Tracker

*/

.ui-content, .ui-page{
	background: #63b6ab
}
.ui-header, .ui-footer {
	background: #014421
}

.ui-li {
	background: #a47c48 
}
.ui-menu .ui-menu-divider {
	background: #014421
	color: #000000
}
.ui-controlgroup {
	background: #014421
}
label.error{
	display: block;
	margin: 10px 0;
	color: #cc0000;
}

#errorsLink {display: none;}
